#Raw Data folders
data/raw/
data/bronze/**
.env
Todo.md
warehouse/favorita.duckdb
metabase/plugins/


# Allow keeping folders/structure in git
!data/raw/.gitkeep
!data/synthetic/.gitkeep
!data/processed/.gitkeep
!data/interim/.gitkeep
!data/external/.gitkeep



# data/synthetic/
# data/processed/
# data/interim/
# data/external/
# data/raw/**
# data/processed/**
# *.parquet
# *.duckdb

