services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: retail
      POSTGRES_PASSWORD: retail
      POSTGRES_DB: retailops
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  python:
    build: .
    working_dir: /app
    volumes:
      - ./:/app
    tty: true
    stdin_open: true

volumes:
  pgdata:
